<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Ignored</th>
      <th>Budget</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.category %></td>
        <td><%= r.amount %></td>
        <td><%= r.balance %></td>
        <td><%= r.ignored %></td>
        <td><%= r.budget %></td>
        <td><%= link_to 'Show', r %></td>
        <td><%= link_to 'Edit', edit_reservation_path(r) %></td>
        <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
