<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget.end_date %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @budget.balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @budget.user %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
