<h2 style="float:left;padding-right:10px;">Transactions</h2>

<div style="float:left;">
  <%= link_to "Filter Toggle", '#', id: 'transaction_filter_row_toggle' %> |
  <%= link_to "Download all", transactions_path(format: "csv") %> |
  <!-- <%= link_to "Import", transactions_import_path %> --!>
</div>

<% if @new_transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@new_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
    <% @new_transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table style="clear:both">
  <thead>
    <th width="80">Date</th>
    <th width="80">Budget Date</th>
    <th width="520">Description</th>
    <th colspan="2" width="90">Amount</th>
    <th colspan="2" width="90">Account<br>Balance</th>
    <th colspan="2" width="90">Balance</th>
    <th width="120">Account</th>
    <th width="100">Category</th>
    <th width="60" colspan="2">Actions</th>
  </thead>
  <tbody>
    <tr id="transaction_filter_row">
      <%= form_tag(transactions_filter_path, method: "get") do |f| %>
        <td>
          <%= text_field_tag('date_from', @transaction_filter[:date_from], class: "datepicker", size: 10) %>
          <%= text_field_tag('date_to', @transaction_filter[:date_to], class: "datepicker", size: 10) %>
        </td>
        <td>
          <%= text_field_tag('budget_date_from', @transaction_filter[:budget_date_from], class: "datepicker", size: 10) %>
          <%= text_field_tag('budget_date_to', @transaction_filter[:budget_date_to], class: "datepicker", size: 10) %>
        </td>
        <td><%= text_field_tag('description', @transaction_filter[:description], size: 40) %></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td><%= collection_select(nil, :account, @accounts, :name, :name, include_blank: true) %></td>
        <td><%= collection_select(nil, :category, @categories, :name, :name, include_blank: true) %></td>
        <td colspan="2"><%= submit_tag 'Filter!', name: nil %></td>
      <% end %>
    </tr>
    <tr>
      <%= form_for(@new_transaction) do |f| %>
        <td><%= f.text_field(:date, class: "datepicker", size: 10) %></td>
        <td><%= f.text_field(:budget_date, class: "datepicker", size: 10) %></td>
        <td><%= f.text_field(:description, size: 40) %></td>
        <td colspan="2"><%= f.text_field(:amount, size: 5) %></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td><%= f.collection_select :account_id, @accounts, :id, :name %></td>
        <td><%= f.collection_select :category_id, @categories, :id, :name %></td>
        <td colspan="2"><%= f.submit "Add!" %></td>
      <% end %>
    </tr>
  </tbody>
  <tbody id="sortable">
    <% balance = 0 %>
    <% @transactions.each do |t| %>
      <tr class="transaction" data-id="<%= t.id %>" data-sort="<%= t.sort %>">
        <td class="date"><%= t.date %></td>
        <td class="budget_date"><%= t.budget_date %></td>
        <td class="description"><%= t.description %></td>
        <%= number_to_currency_td(t.amount, 'amount') %>
        <%= number_to_currency_td(t.account_balance, 'account_balance') %>
        <%= number_to_currency_td(t.balance, 'balance') %>
        <td class="account" align="center"><%= t.account.name %></td>
        <td class="category" align="center">
          <%= form_for t, html: {class: 'autopost'} do |f| %>
            <%= f.collection_select :category_id, @categories, :id, :name %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
        <td><%= link_to 'X', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
