<h1>Listing budgets</h1>

<style type="text/css">
td {
    padding: 4px 4px;
}
</style>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="2">Balance</th>
      <th colspan="2">Float</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.start_date %></td>
        <td><%= budget.end_date %></td>
        <%= number_to_currency_td(budget.balance, "balance") %>
        <%= number_to_currency_td(budget.float, "float") %>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
