<!-- FIXME SO MUCH DUPLICATION D: !-->
<h3>
  <%= @budget.name %><br>
  <small>
    From <%= @budget.start_date %> to <%= @budget.end_date %>
  </small>
</h3>
<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Delete', budget_path(@budget), method: :delete, data: { confirm: 'Are you sure?' } %>

<table>
  <tr>
    <td>
      <h2>
        <% if @previous_budget.nil? %>
          <
        <% else %>
          <%= link_to '<', budget_path(@previous_budget) %>
        <% end %>
      </h2>
    </td>
    <td style="text-align:center">
      <p style="width:200px;margin:0 auto;">Jump to: <%= collection_select(nil, :budget, @budgets, :id, :name, size: 5) %></p>
      <p><%= link_to 'New Budget', new_budget_path %></p>
    </td>
    <td>
      <h2>
        <% if @next_budget.nil? %>
          >
        <% else %>
          <%= link_to '>', budget_path(@next_budget) %>
        <% end %>
      </h2>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:center">
      <h2>
        <small>You've got</small>
        <%= number_to_currency(@budget.float) %>
        <small>left to spend</small>
        <p><small>Balance: <%= number_to_currency(@budget.balance) %></small></p>
      </h2>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <table class="reservations" style="margin:0 auto;width:500px;">

        <thead>
          <!--   width="10" !-->
          <th></th>
          <!--  width="200" !-->
          <th colspan="2">Reservations</th>
          <!--  width="90" !-->
          <th style="text-align:center">Budgeted</th>
          <!--  width="90" !-->
          <th style="text-align:center">Balance</th>
          <!--  width="60" !-->
          <th></th>
        </thead>

        <% @budgeted_reservations.each do |reservation| %>
          <% if !reservation.category_id.nil? %>
            <tr class="reservation">
              <td class="expand" data-reservation="<%= reservation.id %>">+</td>
              <td colspan="2"><%= Category.find(reservation.category_id).name %></td>
              <td class="amount"><%= number_to_currency(reservation.amount) %></td>
              <td class="balance"><%= number_to_currency(reservation.balance) %></td>
              <td style="text-align:center">
                <%= link_to('X', budget_reservation_path(@budget, reservation), method: :delete, data: { confirm: 'Are you sure?' }) %>
                <%= link_to('Edit', edit_budget_reservation_path(@budget, reservation)) %>
              </td>
            </tr>
            <% reservation.transactions.each do |transaction| %>
                <tr class="transaction" data-reservation="<%= reservation.id %>">
                    <td></td>
                    <td><%= transaction.date %></td>
                    <td><%= transaction.description %></td>
                    <td><%= transaction.account.name %></td>
                    <td class="amount"><%= number_to_currency(transaction.amount) %></td>
                </tr>
            <% end %>
          <% end %>
        <% end %>
        
        <% @budgeted_reservations.where(category_id: nil).each do |reservation| %>
            <tr>
            <td class="expand" data-reservation="<%= reservation.id %>">+</td>
            <td colspan="2">Everything else</td>
            <td></td>
            <td class="balance"><%= number_to_currency(reservation.balance) %></td>
            <td></td>
            </tr>
            <% reservation.transactions.each do |transaction| %>
                <tr class="transaction" data-reservation="<%= reservation.id %>">
                    <td></td>
                    <td><%= transaction.date %></td>
                    <td><%= transaction.description %></td>
                    <td><%= transaction.account.name %></td>
                    <td class="amount"><%= number_to_currency(transaction.amount) %></td>
                </tr>
            <% end %>
        <% end %>

        <tr>
          <td style="padding-top:20px;" colspan="6"><i>Ignored Reservations</i></td>
        </tr>
        <% @ignored_reservations.each do |reservation| %>
          <tr>
            <td class="expand" data-reservation="<%= reservation.id %>">+</td>
            <td colspan="2"><%= Category.find(reservation.category_id).name %></td>
            <td></td>
            <td class="balance"><%= number_to_currency(reservation.balance) %></td>
            <td style="text-align:center">
              <%= link_to('X', budget_reservation_path(@budget, reservation), method: :delete, data: { confirm: 'Are you sure?' }) %>
              <%= link_to('Edit', edit_budget_reservation_path(@budget, reservation)) %>
            </td>
          </tr>
            <% reservation.transactions.each do |transaction| %>
                <tr class="transaction" data-reservation="<%= reservation.id %>">
                    <td></td>
                    <td><%= transaction.date %></td>
                    <td><%= transaction.description %></td>
                    <td><%= transaction.account.name %></td>
                    <td class="amount"><%= number_to_currency(transaction.amount) %></td>
                </tr>
            <% end %>
        <% end %>
        <tr>
          <td colspan="6" style="padding-top:20px;"><i>New Reservation</i></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Amount</td>
          <td>Ignored?</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <%= form_for [@budget, @new_reservation] do |f| %>
            <td><%= f.collection_select :category_id, @categories, :id, :name %></td>
            <td><%= f.text_field(:amount, size: 5) %></td>
            <td><%= f.check_box :ignored %></td>
            <td><%= f.submit "Add!" %></td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>
