<div style="width:300px;margin:0 auto">
<%= form_for [@budget, @reservation] do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @categories.find(@reservation.category_id).name %>
  </div>
  <div class="field">
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :Ignored? %>
    <%= f.check_box :ignored %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>