<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @reservation.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reservation.amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @reservation.balance %>
</p>

<p>
  <strong>Ignored:</strong>
  <%= @reservation.ignored %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @reservation.budget %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
