<%= form_for [@account, @remote_account] do |f| %>
  <% if @remote_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remote_account.errors.count, "error") %> prohibited this remote_account from being saved:</h2>

      <ul>
      <% @remote_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>
  <div class="field">
    Remote Account Type: <%= f.collection_select :remote_account_type_id, @remote_account_types, :id, :title %>
  </div>
  <div class="field">
    Account: <%= @account.name %>
  </div>
  <div class="field">
    <%= f.text_field :user_credential, placeholder: 'User Credential' %>
  </div>
  <div class="field">
    <%= f.text_field :remote_account_identifier, placeholder: 'Remote Account Identifier' %>
  </div>
  <div class="field">
    <%= f.date_field :sync_from, placeholder: 'Sync From' %>
  </div>
  <div class="field">
    <%= f.label :inverse_values %><br>
    <%= f.check_box :inverse_values %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
