<h2>Sync Remote Account: enter credentials</h2>

Preparing to sync remote account <%= @remote_account.title %>

<%= form_tag account_remote_account_sync_path(@account, @remote_account) do %>
  <% @credentials.each do |credential| %>
    <%= label_tag(:credentials, credential.to_sym) %>
    <%= password_field(:credentials, credential.to_sym) %>
  <% end %>
  <%= submit_tag('Sync') %>
<% end %>

<%= link_to 'Back', accounts_path %>
