<h2>Listing transactions</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th colspan="2">Amount</th>
      <th colspan="2">Balance</th>
      <th>Account</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% balance = 0 %>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td align="right"><%= number_to_currency(transaction.amount, format: "%u</td><td>%n", negative_format: "-%u</td><td>%n") %></td>
        <td align="right"><%= number_to_currency(balance += transaction.amount, format: "%u</td><td>%n", negative_format: "-%u</td><td>%n") %></td>
        <td><%= transaction.account.name %></td>
        <td><%= transaction.category.name %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
