<h2>Transactions</h2>

<div>
  <%= link_to "Filter Toggle", '#', id: 'transaction_filter_row_toggle' %> |
  <%= link_to "Download all", transactions_path(format: "csv") %> |
  <%= link_to "Import", transactions_import_path %>
</div>

<% if @new_transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@new_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
    <% @new_transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table>
  <thead>
    <th>Date</th>
    <th>Budget Date</th>
    <th>Description</th>
    <th colspan="2">Amount</th>
    <th colspan="2">Account<br>Balance</th>
    <th colspan="2">Balance</th>
    <th>Account</th>
    <th>Category</th>
    <th colspan="2">Actions</th>
  </thead>
  <tbody>
    <tr id="transaction_filter_row">
      <%= form_tag(transactions_filter_path, method: "get") do |f| %>
        <td>
          <%= date_field_tag('date_from', @transaction_filter[:date_from]) %>
          <%= date_field_tag('date_to', @transaction_filter[:date_to]) %>
        </td>
        <td>
          <%= date_field_tag('budget_date_from', @transaction_filter[:budget_date_from]) %>
          <%= date_field_tag('budget_date_to', @transaction_filter[:budget_date_to]) %>
        </td>
        <td><%= text_field_tag('description', @transaction_filter[:description]) %></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td><%= collection_select(nil, :account, @accounts, :name, :name, include_blank: true) %></td>
        <td><%= collection_select(nil, :category, @categories, :name, :name, include_blank: true) %></td>
        <td colspan="2"><%= submit_tag 'Filter!', name: nil %></td>
      <% end %>
    </tr>
    <tr>
      <%= form_for(@new_transaction) do |f| %>
        <td><%= f.date_field(:date) %></td>
        <td><%= f.date_field(:budget_date) %></td>
        <td><%= f.text_field(:description) %></td>
        <td colspan="2"><%= f.text_field(:amount) %></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td><%= f.collection_select :account_id, @accounts, :id, :name %></td>
        <td><%= f.collection_select :category_id, @categories, :id, :name %></td>
        <td colspan="2"><%= f.submit "Add!" %></td>
      <% end %>
    </tr>
  </tbody>
  <tbody id="sortable">
    <% balance = 0 %>
    <% @transactions.each do |t| %>
      <tr class="transaction" data-id="<%= t.id %>" data-sort="<%= t.sort %>">
        <td class="date"><%= t.date %></td>
        <td class="budget_date"><%= t.budget_date %></td>
        <td class="description"><%= t.description %></td>
        <%= number_to_currency_td(t.amount, 'amount') %>
        <%= number_to_currency_td(t.account_balance, 'account_balance') %>
        <%= number_to_currency_td(t.balance, 'balance') %>
        <td class="account" align="center"><%= t.account.name %>
        <td class="category" align="center"><%= t.category.name %>
        <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
        <td><%= link_to 'X', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
