<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "fin" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="header">
    <div class="menu-button">
    </div>
    <h1>Fin</h1>
  </div>
  
  <div class="sidebar">
    <ul>
      <% if current_user %>
        <li><%= link_to "Transactions" , transactions_path   %></li>
        <li><%= link_to "Accounts"     , accounts_path       %></li>
        <li><%= link_to "Categories"   , categories_path     %></li>
        <li><%= link_to "Budgets"      , latest_budget_path  %></li>
      <% end %>
    </ul>

    <ul>
      <% if current_user %>
        <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Logout", logout_path, method: :post %></li>
      <% else %>
        <li><%= link_to "Register", new_user_path %></li>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="outer-container">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="alert"><%= flash[:alert] %></div>
      <%= yield %>
      <%= javascript_include_tag "application" %>
  </div>
  </body>
</html>
