<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "fin" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Fin</h1>

    <div>
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", :login %>
      <% end %>
    </div>

    <% if current_user %>
      <div>
        <%= link_to "Transactions", transactions_path %>
        <%= link_to "Accounts", accounts_path %>
        <%= link_to "Categories", categories_path %>
        <%= link_to "Budgets", latest_budget_path %>
      </div>
    <% end %>

    <div class="notice"><%= flash[:notice] %></div>
    <div class="alert"><%= flash[:alert] %></div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>